# Uniden Assistant Configuration (example)

# Backend URL (leave blank to auto-detect FQDN)
BACKEND_URL=

# Uniden Assistant (Django core)
UNIDEN_ASSISTANT_DB=mongodb://<host>:<port>/<assistant_db_name>
UNIDEN_ASSISTANT_DB_USER=
UNIDEN_ASSISTANT_DB_PASSWORD=

# Favourites MongoDB
UNIDEN_FAVOURITES_DB=mongodb://<host>:<port>/<favourites_db_name>
UNIDEN_FAVOURITES_DB_USER=
UNIDEN_FAVOURITES_DB_PASSWORD=
