# Uniden Assistant Configuration (example)

# Backend URL (leave blank to auto-detect FQDN)
BACKEND_URL=

# Uniden Assistant (Django core)
UNIDEN_ASSISTANT_DB=mongodb://<host>:<port>/<assistant_db_name>
UNIDEN_ASSISTANT_DB_USER=
UNIDEN_ASSISTANT_DB_PASSWORD=

# HPDB MongoDB
UNIDEN_HPDB_DB=mongodb://<host>:<port>/<hpdb_db_name>
UNIDEN_HPDB_DB_USER=
UNIDEN_HPDB_DB_PASSWORD=

# User Settings MongoDB
UNIDEN_USERSETTINGS_DB=mongodb://<host>:<port>/<usersettings_db_name>
UNIDEN_USERSETTINGS_DB_USER=
UNIDEN_USERSETTINGS_DB_PASSWORD=

# App Config MongoDB
UNIDEN_APP_DB=mongodb://<host>:<port>/<appconfig_db_name>
UNIDEN_APP_DB_USER=
UNIDEN_APP_DB_PASSWORD=
